.egg-canvas {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: #f8f9fa;
	border-radius: 1rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;

	&__canvas {
		max-width: 100%;
		height: auto;
		display: block;
	}
}
